# Ignorar .venv en cualquier lugar
.venv/
**/.venv/

# Ignorar __pycache__ en cualquier lugar
__pycache__/
**/__pycache__/

# Ignorar archivos .pyc
*.pyc
**/*.pyc

# Ignorar .idea en cualquier lugar
.idea/
**/.idea/
